[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
elasticsearch-dsl = "*"
django = "*"
elasticsearch = "*"
scrapy-redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
