[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
"ce3d066" = {path = "E:/downloads/Twisted-17.9.0-cp36-cp36m-win_amd64.whl"}
scrapy = "*"
elasticsearch-dsl = "*"
django = "*"
"pypiwin32" = "*"

[dev-packages]

[requires]
python_version = "3.6"
