[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
elasticsearch-dsl = "==5.1.0"
django = "*"
"pypiwin32" = "*"
elasticsearch = "==5.2.0"

[dev-packages]

[requires]
python_version = "3.6"
